{% extends "accounts/base.html" %}
{% block content %}
    <section class="flat-slider style2">
        <div class="rev_slider_wrapper fullwidthbanner-container">
            <div id="rev-slider3" class="rev_slider fullwidthabanner">
                <ul>
                    <!-- Slide 1 -->
                    <li data-transition="random">
                        <!-- Main Image -->
                        <img src="/static/images/home2/31.jpg" alt="" data-bgposition="center center" data-no-retina>
                        <div class="overlay"></div>

                        <!-- Layers -->
                        <div class="tp-caption tp-resizeme education"
                        data-x="['left','left','left','center']" data-hoffset="['0','4','4','15']"
                        data-y="['middle','middle','middle','middle']" data-voffset="['-161','-100','-80','-50']"
                        data-fontsize="['70','70','70','30']"
                        data-lineheight="['90','90','90','35']"
                        data-width="full"
                        data-height="none"
                        data-whitespace="normal"
                        data-transform_idle="o:1;"
                        data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                        data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                        data-mask_in="x:0px;y:[100%];" 
                        data-mask_out="x:inherit;y:inherit;" 
                        data-start="1000" 
                        data-splitin="none" 
                        data-splitout="none" 
                        data-responsive_offset="on"> <div class="education-text text-dark-blue">Prez Akuffo Addo</div> </div>

                        <div class="tp-caption tp-resizeme text-gold complete text-edukin"
                        data-x="['left','left','left','center']" data-hoffset="['0','4','4','15']"
                        data-y="['middle','middle','middle','middle']" data-voffset="['-70','-10','5','20']"
                        data-fontsize="['17','17','16','14']"
                        data-lineheight="['30','30','26','22']"
                        data-width="full"
                        data-height="none"
                        data-whitespace="normal"
                        data-transform_idle="o:1;"
                        data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                        data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                        data-mask_in="x:0px;y:[100%];" 
                        data-mask_out="x:inherit;y:inherit;" 
                        data-start="1000" 
                        data-splitin="none" 
                        data-splitout="none" 
                        data-responsive_offset="on" 
                        data-paddingright="['550','155','50','2']" >Akuffo Addo Gives SoNA today</div>

                        <div class="tp-caption"
                        data-x="['left','left','left','center']" data-hoffset="['0','4','4','15']"
                        data-y="['middle','middle','middle','middle']" data-voffset="['40','80','90','90']"
                        data-width="full"
                        data-height="none"
                        data-whitespace="normal"
                        data-transform_idle="o:1;"
                        data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                        data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                        data-mask_in="x:0px;y:[100%];" 
                        data-mask_out="x:inherit;y:inherit;" 
                        data-start="1000" 
                        data-splitin="none" 
                        data-splitout="none" 
                        data-responsive_offset="on" 
                        data-paddingtop= "['50','50','50','50']"
                        data-paddingbottom= "['50','50','50','50']"> <a href="#" class="btn btn-styl1">Read More</a> </div>    
                    </li>

                    <!-- Slide 2 -->
                    <li data-transition="random">
                        <!-- Main Image -->
                        <img src="/static/images/home2/33.jpg" alt="" data-bgposition="center center" data-no-retina>
                        <div class="overlay"></div>

                        <!-- Layers -->

                        <div class="tp-caption tp-resizeme font-rubik education education"
                        data-x="['left','left','left','center']" data-hoffset="['0','4','4','15']"
                        data-y="['middle','middle','middle','middle']" data-voffset="['-161','-100','-80','-50']"
                        data-fontsize="['70','70','70','30']"
                        data-lineheight="['90','90','90','35']"
                        data-width="full"
                        data-height="none"
                        data-whitespace="normal"
                        data-transform_idle="o:1;"
                        data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                        data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                        data-mask_in="x:0px;y:[100%];" 
                        data-mask_out="x:inherit;y:inherit;" 
                        data-start="1000" 
                        data-splitin="none" 
                        data-splitout="none" 
                        data-responsive_offset="on"> <div class="education-text text-dark-blue">John Mahama</div> </div>

                        <div class="tp-caption tp-resizeme text-gold complete text-edukin"
                        data-x="['left','left','left','center']" data-hoffset="['0','4','4','15']"
                        data-y="['middle','middle','middle','middle']" data-voffset="['-70','-10','5','20']"
                        data-fontsize="['17','17','16','14']"
                        data-lineheight="['30','30','26','22']"
                        data-width="full"
                        data-height="none"
                        data-whitespace="normal"
                        data-transform_idle="o:1;"
                        data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                        data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                        data-mask_in="x:0px;y:[100%];" 
                        data-mask_out="x:inherit;y:inherit;" 
                        data-start="1000" 
                        data-splitin="none" 
                        data-splitout="none" 
                        data-responsive_offset="on" 
                        data-paddingright="['550','155','50','2']" >Classroom left for grasscutters and snakes - John Mahama</div>

                        <div class="tp-caption"
                        data-x="['left','left','left','center']" data-hoffset="['0','4','4','15']"
                        data-y="['middle','middle','middle','middle']" data-voffset="['40','80','90','90']"
                        data-width="full"
                        data-height="none"
                        data-whitespace="normal"
                        data-transform_idle="o:1;"
                        data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                        data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                        data-mask_in="x:0px;y:[100%];" 
                        data-mask_out="x:inherit;y:inherit;" 
                        data-start="1000" 
                        data-splitin="none" 
                        data-splitout="none" 
                        data-responsive_offset="on" 
                        data-paddingtop= "['50','50','50','50']"
                        data-paddingbottom= "['50','50','50','50']"> <a href="#" class="btn btn-styl1">Read More</a> </div>
                    </li>

                    <!-- Slide 3 -->
                    <li data-transition="random">
                        <!-- Main Image -->
                        <img src="/static/images/home2/32.jpg" alt="" data-bgposition="center center" data-no-retina>
                        <div class="overlay"></div>

                        <!-- Layers -->

                        <div class="tp-caption tp-resizeme font-rubik education education"
                        data-x="['left','left','left','center']" data-hoffset="['0','4','4','15']"
                        data-y="['middle','middle','middle','middle']" data-voffset="['-161','-100','-80','-50']"
                        data-fontsize="['70','70','70','30']"
                        data-lineheight="['90','90','90','35']"
                        data-width="full"
                        data-height="none"
                        data-whitespace="normal"
                        data-transform_idle="o:1;"
                        data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                        data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                        data-mask_in="x:0px;y:[100%];" 
                        data-mask_out="x:inherit;y:inherit;" 
                        data-start="1000" 
                        data-splitin="none" 
                        data-splitout="none" 
                        data-responsive_offset="on"> <div class="education-text text-dark-blue">Corona Virus</div> </div>

                        <div class="tp-caption tp-resizeme text-gold complete text-edukin"
                        data-x="['left','left','left','center']" data-hoffset="['0','4','4','15']"
                        data-y="['middle','middle','middle','middle']" data-voffset="['-70','-10','5','20']"
                        data-fontsize="['17','17','16','14']"
                        data-lineheight="['30','30','26','22']"
                        data-width="full"
                        data-height="none"
                        data-whitespace="normal"
                        data-transform_idle="o:1;"
                        data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                        data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                        data-mask_in="x:0px;y:[100%];" 
                        data-mask_out="x:inherit;y:inherit;" 
                        data-start="1000" 
                        data-splitin="none" 
                        data-splitout="none" 
                        data-responsive_offset="on" 
                        data-paddingright="['550','155','50','2']" >Corona enters Togo, leaves Ghanaians in panic</div>

                        <div class="tp-caption"
                        data-x="['left','left','left','center']" data-hoffset="['0','4','4','15']"
                        data-y="['middle','middle','middle','middle']" data-voffset="['40','80','90','90']"
                        data-width="full"
                        data-height="none"
                        data-whitespace="normal"
                        data-transform_idle="o:1;"
                        data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                        data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                        data-mask_in="x:0px;y:[100%];" 
                        data-mask_out="x:inherit;y:inherit;" 
                        data-start="1000" 
                        data-splitin="none" 
                        data-splitout="none" 
                        data-responsive_offset="on" 
                        data-paddingtop= "['50','50','50','50']"
                        data-paddingbottom= "['50','50','50','50']"> <a href="#" class="btn btn-styl1">Read More</a> </div>
                    </li>
                </ul>
            </div>
        </div> 
        <!-- slider -->
    </section>
    <!-- flat-slider -->
    
    <section class="campus">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="flat-benefit-style2 clearfix">
                        <div class="iconbox-benefit iconbox-width50">
                            <div class="iconbox iconbox-one">
                                <div class="iconbox-icon">
                                    <img src="/static/images/home2/24.png" alt="images">
                                </div>
                                <div class="iconbox-content">
                                    <h3><a href="#">University Life</a></h3>
                                    <p>We cover life on campuses, all the vibes</p>
                                </div>
                            </div>
                        </div>
                        <div class="iconbox-benefit iconbox-width50">
                            <div class="iconbox iconbox-two">
                                <div class="iconbox-icon">
                                    <img src="/static/images/home2/25.png" alt="images">
                                </div>
                                <div class="iconbox-content">
                                    <h3><a href="#">Latest Shows</a></h3>
                                    <p>Want to know what went down at latest show?</p>
                                </div>
                            </div>
                        </div>
                        <div class="iconbox-benefit iconbox-width50">
                            <div class="iconbox iconbox-three">
                                <div class="iconbox-icon">
                                    <img src="/static/images/home2/26.png" alt="images">
                                </div>
                                <div class="iconbox-content">
                                    <h3><a href="#">Big News</a></h3>
                                    <p>All the big news pass here first</p>
                                </div>
                            </div>
                        </div>
                        <div class="iconbox-benefit iconbox-width50">
                            <div class="iconbox iconbox-four">
                                <div class="iconbox-icon">
                                    <img src="/static/images/home2/27.png" alt="images">
                                </div>
                                <div class="iconbox-content">
                                    <h3><a href="#">Social</a></h3>
                                    <p>We do not leave out the social life, instagram, twitter,.etc</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="apply-admission bg-apply-type2">
                        <div class="apply-admission-wrap type1 bd-type2">
                            <div class="apply-admission-inner">
                                <h2 class="title text-center">
                                    <span>Receive Daily News</span>
                                </h2>
                                <div class="caption text-center">
                                    Before it gets published
                                </div>
                                <div class="apply-sent apply-sent-style1">
                                    <form action="#" class="form-sent">
                                        <input type="text" placeholder="Enter your email ....">
                                        <button class="sent-button bg-cl183251">
                                            <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                                        </button>
                                    </form>
                                </div> 
                            </div>
                        </div>
                        <div class="form-apply">
                            <div class="section-overlay183251"></div>
                            <form action="#" class="apply-now">
                                <ul>
                                    <li><input type="search" placeholder="Name"></li>
                                    <li><input type="search" placeholder="Email"></li>
                                    <li><input type="search" placeholder="Phone"></li>
                                </ul>
                                <div class="btn-50 hv-border text-center">
                                    <button class="btn bg-clfbb545">
                                        Apply now
                                    </button>
                                </div>
                            </form>  
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- campus -->
    <section class="partner-clients partner-clients-style5"> 
        <div class="container">
            <div class="row">   
                <div class="slide-client owl-carousel" data-auto="true" data-item="4" data-nav="false" data-dots="false">
                    <ul>
                        <li><img src="/static/images/home1/01.png" alt="images"></li>
                    </ul>
                    <ul>
                        <li><img src="/static/images/home1/02.png" alt="images"></li>
                    </ul>
                    <ul>
                        <li><img src="/static/images/home1/03.png" alt="images"></li>
                    </ul>
                    <ul>
                        <li><img src="/static/images/home1/04.png" alt="images"></li>
                    </ul>
                    <ul>
                        <li>
                            <div>
                                <img src="/static/images/home1/04.png" alt="images">
                                <p>Short catchy info to make user click</p>
                            </div>
                        </li>
                    </ul>
                </div>   
            </div>
        </div>
    </section><!-- partner-clients -->
    <section class="flat-introduce flat-introduce-style2 clearfix">
        <div class="bg"></div>
        <div class="container-fluid">
            <div class="section-about-left">
                <div class="videobox">
                    <a class="fancybox" data-type="iframe" href="https://www.youtube.com/embed/2Ge1GGitzLw?autoplay=1">
                        <img src="/static/images/home2/9.png" alt="images">
                    </a>
                </div>
            </div>
            <div class="section-about-right content-introduce">
                <div class="caption">
                    ABOUT NEWNOUS
                </div>
                <div class="title-section">
                    <div class="flat-title small heading-type1">Take a tour</div>
                </div>
                <div class="content-introduce-inner">
                    <p>
                        You can get news from anywhere but the exclusive live here,
                    </p>
                    <p>
                        provided as it happens, we are the news hub
                    </p>
                    <div class="content-list">
                        <ul>
                            <li>
                                <span class="text">
                                    Entertainment
                                </span>
                            </li>
                            <li>
                                <span class="text">
                                    Sports
                                </span>
                            </li>
                            <li>
                                <span class="text">  
                                    Social and Juicy gossips
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- flat-introduce -->
    <!-- <section class="flat-services-style2 clearfix">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="flat-imagebox imagebox-services themesflat-content-box" data-padding="0% 0% 0% 3.6%" data-mobipadding="0% 0% 0% 0%" data-smobipadding="0% 0% 0% 0%">
                        <div class="imagebox-content">
                            <img src="/static/images/home2/12.png" alt="images">
                            <h5 class="text-one text-white">Education Services</h5>
                            <p class="text-white">
                                Education is the most power which you can use to change the world.” Education is the key to.
                            </p>
                            <div class="read-more">
                                <a href="#">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="flat-imagebox imagebox-services themesflat-content-box" data-padding="0% 0% 0% 3%" data-mobipadding="0% 0% 0% 0%" data-smobipadding="0% 0% 0% 0%">
                        <div class="imagebox-content">
                            <img src="/static/images/home2/13.png" alt="images">
                            <h5 class="text-two text-white">Success Rate</h5>
                            <p class="text-white">
                                Education is the most power which you can use to change the world.” Education is the key to.
                            </p>
                            <div class="read-more">
                                <a href="#">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="flat-imagebox imagebox-services themesflat-content-box" data-padding="0% 0% 0% 2.5%" data-mobipadding="0% 0% 0% 0%" data-smobipadding="0% 0% 0% 0%">
                        <div class="imagebox-content">
                            <img src="/static/images/home2/14.png" alt="images">
                            <h5 class="text-three text-white">Foreign Student</h5>
                            <p class="text-white">
                                Education is the most power which you can use to change the world.” Education is the key to.
                            </p>
                            <div class="read-more">
                                <a href="#">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="flat-imagebox imagebox-services themesflat-content-box" data-padding="0% 0% 0% 2.2%" data-mobipadding="0% 0% 0% 0%" data-smobipadding="0% 0% 0% 0%">
                        <div class="imagebox-content">
                            <img src="/static/images/home2/15.png" alt="images">
                            <h5 class="text-four text-white">University Life</h5>
                            <p class="text-white">
                                Education is the most power which you can use to change the world.” Education is the key to.
                            </p>
                            <div class="read-more">
                                <a href="#">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!-- flat-services -->
    <!-- <section class="flat-benefit style22">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="title-section">
                        <div class="flat-title small heading-type5">
                           Why choose us?
                        </div>
                    </div>
                    <ul>
                        <li>
                            <div class="iconbox-benefit">
                                <div class="iconbox">
                                    <div class="iconbox-icon">
                                        <img src="/static/images/home2/17.png" alt="images">
                                    </div>
                                    <div class="iconbox-content iconbox-content-style22">
                                        <h3><a href="#">Certificate</a></h3>
                                        <p>
                                           Education is the most power which you can to change the world.” Education is the key to.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="iconbox-benefit">
                                <div class="iconbox">
                                    <div class="iconbox-icon">
                                        <img src="/static/images/home2/18.png" alt="images">
                                    </div>
                                    <div class="iconbox-content iconbox-content-style22">
                                        <h3><a href="#">Life Programs</a></h3>
                                        <p>
                                           Education is the most power which you can to change the world.” Education is the key to.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="iconbox-benefit">
                                <div class="iconbox">
                                    <div class="iconbox-icon">
                                        <img src="/static/images/home2/19.png" alt="images">
                                    </div>
                                    <div class="iconbox-content iconbox-content-style22">
                                        <h3><a href="#">Affordability</a></h3>
                                        <p>
                                           Education is the most power which you can to change the world.” Education is the key to.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-7">
                    <div class="featured-post">
                        <img src="/static/images/home2/2.jpg" alt="images">
                    </div>
                </div>
            </div>
        </div> -->
    <!-- </section> -->
    <!-- flat-benefit -->
    <section class="testimonial testimonial-style2">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-4 col-sm-12">
                    <div class="featured-post">
                        <img src="/static/images/home2/34.jpg" alt="images">
                    </div>
                </div>
                <div class="col-lg-7 col-md-8 col-sm-12 max-width100">
                    <div class="wrap-testimonial">
                        <div class="title-section">
                            <div class="flat-title small heading-type5">
                               Something Special
                            </div>
                        </div>
                        <div class="client-style2 clearfix">
                            <div class="flat-carousel-box data-effect clearfix" data-gap="30" data-column="1" data-column2="1" data-column3="1" data-column4="1" data-dots="true" data-auto="false" data-nav="false">
                                <div class="owl-carousel">
                                    <div class="testimonial-content">
                                        <div class="text text-white">
                                            "No one tells it better than Nounews, if it's New then it's Nou"
                                        </div>
                                        <div class="author-info">
                                            <h5>
                                                <a href="#">Dominic Damoah Jnr</a>
                                            </h5>
                                            <p class="position">
                                                Manager at Sika
                                            </p>
                                        </div>
                                    </div>
                                    <div class="testimonial-content">
                                        <div class="text text-white">
                                            "They[Nounews] make it entertaining and simply keep you glued"
                                        </div>
                                        <div class="author-info">
                                            <h5>
                                                <a href="#">Kofi Appiah</a>
                                            </h5>
                                            <p class="position">
                                                Lead Singer at Eden Acapella
                                            </p>
                                        </div>
                                    </div>
                                    <div class="testimonial-content">
                                        <div class="text text-white">
                                            "I thought online news was nothing until I visited this site"
                                        </div>
                                        <div class="author-info">
                                            <h5>
                                                <a href="#">Elikem Danku</a>
                                            </h5>
                                            <p class="position">
                                                Manager at One Note Acapella Gh
                                            </p>
                                        </div>
                                    </div>
                                    <div class="testimonial-content">
                                        <div class="text text-white">
                                            "Okay, no one beats this site at online news, no one, not even CNN"
                                        </div>
                                        <div class="author-info">
                                            <h5>
                                                <a href="#">Josue Adimado</a>
                                            </h5>
                                            <p class="position">
                                                Designer at PywE
                                            </p>
                                        </div>
                                    </div>
                                    <div class="testimonial-content">
                                        <div class="text text-white">
                                           "Online news? Nounews"
                                        </div>
                                        <div class="author-info">
                                            <h5>
                                                <a href="#">Kingsley Hemans</a>
                                            </h5>
                                            <p class="position">
                                                Manager at OrangeLabs
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- testimonial -->
    <section class="latest-blog latest-blog-type2 latest-blog-style2">
        <div class="container">
            <div class="title-section">
                <div class="flat-title small heading-type7">
                   Latest News 
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <article class="post post-style2 box-shadow-type1">
                        <div class="featured-post">
                            <img src="/static/images/home2/4.jpg" alt="images">
                        </div>
                        <div class="post-content">
                            <div class="category">
                                DESIGN
                            </div>
                            <div class="post-title">
                                <h5>
                                    <a href="#">Design Milk is a design blog featuring...</a>
                                </h5>
                            </div>
                            <div class="post-link">
                                <a href="#">Read Now</a>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-lg-4 col-md-4">
                    <article class="post post-style2 box-shadow-type1">
                        <div class="featured-post">
                            <img src="/static/images/home2/5.jpg" alt="images">
                        </div>
                        <div class="post-content">
                            <div class="category">
                                SOCIAL
                            </div>
                            <div class="post-title">
                                <h5>
                                    <a href="#">Some of the world’s best designers share...</a>
                                </h5>
                            </div>
                            <div class="post-link">
                                <a href="#">Read Now</a>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-lg-4 col-md-4">
                    <article class="post post-style2 box-shadow-type1">
                        <div class="featured-post">
                            <img src="/static/images/home2/6.jpg" alt="images">
                        </div>
                        <div class="post-content">
                            <div class="category">
                                THE TAILOR
                            </div>
                            <div class="post-title">
                                <h5>
                                    <a href="#">Elikem the tailor shares some interesting...</a>
                                </h5>
                            </div>
                            <div class="post-link">
                                <a href="#">Read Now</a>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section><!-- latest-blog -->
    
    {% endblock content %}